In [360]:
import pandas as pd

In [361]:
df = pd.read_csv("data_resources/Covid_Data.csv")
df

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200806,AK,4223.0,257349.0,NaN,42.0,NaN,NaN,NaN,2.0,...,261572,0,0,cb6042a57c94293675b4f8b2a02af69d8012d91f,0,0,0,0,0,NaN
1,20200806,AL,96592.0,643192.0,NaN,1575.0,11313.0,NaN,1211.0,NaN,...,739784,19,213,27774ad0a8fd9899b54fb5d577b1b778d3d5004f,0,0,0,0,0,NaN
2,20200806,AR,47028.0,492808.0,NaN,514.0,3118.0,NaN,NaN,111.0,...,539836,7,0,1188e9bb4b25b98410580729c252181b8d1f4dfc,0,0,0,0,0,NaN
3,20200806,AS,0.0,1396.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1396,0,0,5c33616b07ca7687fdea8c9ea6a110cb6abea724,0,0,0,0,0,NaN
4,20200806,AZ,183647.0,812217.0,NaN,1879.0,14068.0,593.0,NaN,427.0,...,995864,70,509,b9e494d4ce7ec7f1188ac5a7b72643b596000d1d,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8636,20200126,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,0,7acb526e14f20a29cc74a0b32a37328bc6eac6c2,0,0,0,0,0,NaN
8637,20200125,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,0,9b52ca94dd2a996822542ea5f17a7363e7ad91cf,0,0,0,0,0,NaN
8638,20200124,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,0,094154f68e74bfc30b977cdee888f9c07be4360e,0,0,0,0,0,NaN
8639,20200123,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,0,e16af2a6a8f060355ff5ba499a28309a262c0b1e,0,0,0,0,0,NaN
8640,20200122,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,0,8f8db794931706272489cddd51e917a4a69c8c9b,0,0,0,0,0,NaN

In [362]:
deaths_from_covid=pd.read_csv("data_resources/covid_death.csv")

## Drop Column of NaN Values 'Footnote'

In [363]:
deaths_from_covid = deaths_from_covid.drop('Footnote', axis=1)
#or del deaths_from_covid['Footnote']
deaths_from_covid.head(15)

,Data as of,Start week,End Week,State,Sex,Age group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
0,8/5/2020,2/1/2020,8/1/2020,United States,All,Under 1 year,15.0,8832.0,82.0,2.0,14.0,109.0
1,8/5/2020,2/1/2020,8/1/2020,United States,All,1-4 years,10.0,1690.0,55.0,2.0,41.0,104.0
2,8/5/2020,2/1/2020,8/1/2020,United States,All,5-14 years,20.0,2611.0,86.0,6.0,50.0,150.0
3,8/5/2020,2/1/2020,8/1/2020,United States,All,15-24 years,225.0,16353.0,326.0,77.0,52.0,522.0
4,8/5/2020,2/1/2020,8/1/2020,United States,All,25-34 years,1074.0,33993.0,1250.0,477.0,150.0,1983.0
5,8/5/2020,2/1/2020,8/1/2020,United States,All,35-44 years,2728.0,48090.0,2700.0,1152.0,242.0,4489.0
6,8/5/2020,2/1/2020,8/1/2020,United States,All,45-54 years,7299.0,89394.0,7066.0,3281.0,573.0,11553.0
7,8/5/2020,2/1/2020,8/1/2020,United States,All,55-64 years,17583.0,206614.0,19117.0,8177.0,1221.0,29527.0
8,8/5/2020,2/1/2020,8/1/2020,United States,All,65-74 years,29870.0,313626.0,32620.0,13853.0,1426.0,49832.0
9,8/5/2020,2/1/2020,8/1/2020,United States,All,75-84 years,37495.0,385341.0,41005.0,16899.0,1456.0,62857.0
10,8/5/2020,2/1/2020,8/1/2020,United States,All,85 years and over,45845.0,484400.0,45788.0,17963.0,1367.0,74866.0
11,8/5/2020,2/1/2020,8/1/2020,United States,All,All Ages,142164.0,1590944.0,150095.0,61889.0,6592.0,235992.0
12,8/5/2020,2/1/2020,8/1/2020,United States,Male,Under 1 year,9.0,4909.0,52.0,2.0,8.0,67.0
13,8/5/2020,2/1/2020,8/1/2020,United States,Male,1-4 years,5.0,991.0,28.0,1.0,25.0,57.0
14,8/5/2020,2/1/2020,8/1/2020,United States,Male,5-14 years,15.0,1550.0,44.0,6.0,22.0,75.0

------------------------------------------------------------------------------------------

# Remove Summary Stats for Gender

    Remove all rows where Sex is All

In [364]:
#Code

------------------------------------------------------------------------------------------

# Median Age of Death

In [365]:
unbin = []
for ages in deaths_from_covid['Age group']:
    unbin.append(ages)
print(unbin)

['Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years', '75-84 years', '85 years and over', 'All ages', 'All ages', 'All Ages', 'Under 1 year', '1-4 years', '5-14 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', '55-64 years', '65-74 years',

## About
    Finding the unique headings to reassign to variables
    There is no specific ages give so averages of the Age Bins will suffice
    Using 85 - 100 average for the last bin

In [366]:
deathAges = deaths_from_covid['Age group'].unique()
print(deathAges)

['Under 1 year' '1-4 years' '5-14 years' '15-24 years' '25-34 years'
 '35-44 years' '45-54 years' '55-64 years' '65-74 years' '75-84 years'
 '85 years and over' 'All Ages' 'All ages']

In [367]:
#reassign death ages for real use
deathAges = deaths_from_covid['Age group']
for age in deathAges:
    deathAges = deathAges.replace('Under 1 year', 1)
    deathAges = deathAges.replace('1-4 years', (1+4)/2)
    deathAges = deathAges.replace('5-14 years', (5+14)/2)
    deathAges = deathAges.replace('15-24 years', (15+24)/2)
    deathAges = deathAges.replace('25-34 years', (25+34)/2)
    deathAges = deathAges.replace('35-44 years', (35+44)/2)
    deathAges = deathAges.replace('45-54 years', (45+54)/2)
    deathAges = deathAges.replace('55-64 years', (55+64)/2)
    deathAges = deathAges.replace('65-74 years', (65+74)/2)
    deathAges = deathAges.replace('75-84 years', (75+84)/2)
    deathAges = deathAges.replace('85 years and over', (85+100)/2)
    deathAges = deathAges.replace('All ages', 'NaN')
    deathAges = deathAges.replace('All Ages', 'NaN')
print(deathAges)

0          1
1        2.5
2        9.5
3       19.5
4       29.5
        ...
1411    79.5
1412    92.5
1413     NaN
1414     NaN
1415     NaN
Name: Age group, Length: 1416, dtype: object

In [368]:
deaths_from_covid["Ages of Death"] = deathAges

In [369]:
deaths_from_covid

,Data as of,Start week,End Week,State,Sex,Age group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths",Ages of Death
0,8/5/2020,2/1/2020,8/1/2020,United States,All,Under 1 year,15.0,8832.0,82.0,2.0,14.0,109.0,1
1,8/5/2020,2/1/2020,8/1/2020,United States,All,1-4 years,10.0,1690.0,55.0,2.0,41.0,104.0,2.5
2,8/5/2020,2/1/2020,8/1/2020,United States,All,5-14 years,20.0,2611.0,86.0,6.0,50.0,150.0,9.5
3,8/5/2020,2/1/2020,8/1/2020,United States,All,15-24 years,225.0,16353.0,326.0,77.0,52.0,522.0,19.5
4,8/5/2020,2/1/2020,8/1/2020,United States,All,25-34 years,1074.0,33993.0,1250.0,477.0,150.0,1983.0,29.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1411,8/5/2020,2/1/2020,8/1/2020,Puerto Rico,Female,75-84 years,0.0,0.0,0.0,0.0,0.0,0.0,79.5
1412,8/5/2020,2/1/2020,8/1/2020,Puerto Rico,Female,85 years and over,0.0,0.0,0.0,0.0,0.0,0.0,92.5
1413,8/5/2020,2/1/2020,8/1/2020,Puerto Rico,Female,All ages,10.0,468.0,44.0,NaN,NaN,53.0,NaN
1414,8/5/2020,2/1/2020,8/1/2020,Puerto Rico,Unknown,All ages,0.0,NaN,0.0,0.0,0.0,0.0,NaN
1415,8/5/2020,2/1/2020,8/1/2020,Puerto Rico Total,All,All Ages,33.0,1501.0,115.0,13.0,NaN,141.0,NaN

In [370]:
len(deaths_from_covid['Ages of Death'])

1416

## Removing NaN Values

------------------------------------------------------------------------------------------------------------------

In [371]:
deaths_from_covid

,Data as of,Start week,End Week,State,Sex,Age group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths",Ages of Death
0,8/5/2020,2/1/2020,8/1/2020,United States,All,Under 1 year,15.0,8832.0,82.0,2.0,14.0,109.0,1
1,8/5/2020,2/1/2020,8/1/2020,United States,All,1-4 years,10.0,1690.0,55.0,2.0,41.0,104.0,2.5
2,8/5/2020,2/1/2020,8/1/2020,United States,All,5-14 years,20.0,2611.0,86.0,6.0,50.0,150.0,9.5
3,8/5/2020,2/1/2020,8/1/2020,United States,All,15-24 years,225.0,16353.0,326.0,77.0,52.0,522.0,19.5
4,8/5/2020,2/1/2020,8/1/2020,United States,All,25-34 years,1074.0,33993.0,1250.0,477.0,150.0,1983.0,29.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1411,8/5/2020,2/1/2020,8/1/2020,Puerto Rico,Female,75-84 years,0.0,0.0,0.0,0.0,0.0,0.0,79.5
1412,8/5/2020,2/1/2020,8/1/2020,Puerto Rico,Female,85 years and over,0.0,0.0,0.0,0.0,0.0,0.0,92.5
1413,8/5/2020,2/1/2020,8/1/2020,Puerto Rico,Female,All ages,10.0,468.0,44.0,NaN,NaN,53.0,NaN
1414,8/5/2020,2/1/2020,8/1/2020,Puerto Rico,Unknown,All ages,0.0,NaN,0.0,0.0,0.0,0.0,NaN
1415,8/5/2020,2/1/2020,8/1/2020,Puerto Rico Total,All,All Ages,33.0,1501.0,115.0,13.0,NaN,141.0,NaN

In [372]:
deaths_from_covid = deaths_from_covid.dropna()

In [373]:
deaths_from_covid.tail()

,Data as of,Start week,End Week,State,Sex,Age group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths",Ages of Death
1402,8/5/2020,2/1/2020,8/1/2020,Puerto Rico,Female,Under 1 year,0.0,32.0,0.0,0.0,0.0,0.0,1
1409,8/5/2020,2/1/2020,8/1/2020,Puerto Rico,Female,55-64 years,0.0,0.0,0.0,0.0,0.0,0.0,59.5
1410,8/5/2020,2/1/2020,8/1/2020,Puerto Rico,Female,65-74 years,0.0,0.0,0.0,0.0,0.0,0.0,69.5
1411,8/5/2020,2/1/2020,8/1/2020,Puerto Rico,Female,75-84 years,0.0,0.0,0.0,0.0,0.0,0.0,79.5
1412,8/5/2020,2/1/2020,8/1/2020,Puerto Rico,Female,85 years and over,0.0,0.0,0.0,0.0,0.0,0.0,92.5

# Mode

In [374]:
mode=deaths_from_covid["Age group"].mode()
mode

0    All ages
dtype: object

In [375]:
min_age=deaths_from_covid["Age group"].min()
min_age

'1-4 years'

In [376]:
median_deaths=deaths_from_covid["COVID-19 Deaths"].head(11).median()
median_deaths

2728.0

In [377]:
#median_age=deaths_from_covid["Age group"].median()
#median_age
#one_age=deaths_from_covid.loc[[deaths_from_covid["Age group"]["1-4 years"]]]
deaths_from_covid.iloc[0:12, 5:6]

            Age group
0        Under 1 year
1           1-4 years
2          5-14 years
3         15-24 years
4         25-34 years
5         35-44 years
6         45-54 years
7         55-64 years
8         65-74 years
9         75-84 years
10  85 years and over
11           All Ages