In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data_resources/Covid_Data.csv")
df

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200806,AK,4223.0,257349.0,NaN,42.0,NaN,NaN,NaN,2.0,...,261572,0,0,cb6042a57c94293675b4f8b2a02af69d8012d91f,0,0,0,0,0,NaN
1,20200806,AL,96592.0,643192.0,NaN,1575.0,11313.0,NaN,1211.0,NaN,...,739784,19,213,27774ad0a8fd9899b54fb5d577b1b778d3d5004f,0,0,0,0,0,NaN
2,20200806,AR,47028.0,492808.0,NaN,514.0,3118.0,NaN,NaN,111.0,...,539836,7,0,1188e9bb4b25b98410580729c252181b8d1f4dfc,0,0,0,0,0,NaN
3,20200806,AS,0.0,1396.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1396,0,0,5c33616b07ca7687fdea8c9ea6a110cb6abea724,0,0,0,0,0,NaN
4,20200806,AZ,183647.0,812217.0,NaN,1879.0,14068.0,593.0,NaN,427.0,...,995864,70,509,b9e494d4ce7ec7f1188ac5a7b72643b596000d1d,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8636,20200126,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,0,7acb526e14f20a29cc74a0b32a37328bc6eac6c2,0,0,0,0,0,NaN
8637,20200125,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,0,9b52ca94dd2a996822542ea5f17a7363e7ad91cf,0,0,0,0,0,NaN
8638,20200124,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,0,094154f68e74bfc30b977cdee888f9c07be4360e,0,0,0,0,0,NaN
8639,20200123,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,0,e16af2a6a8f060355ff5ba499a28309a262c0b1e,0,0,0,0,0,NaN
8640,20200122,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,0,8f8db794931706272489cddd51e917a4a69c8c9b,0,0,0,0,0,NaN

In [16]:
median_deaths=df["deathConfirmed"].median()
median_deaths

813.0

In [4]:
#pre_covid=pd.read_csv("data_resources/2017PreCovidDisorders.csv")
#pre_covid

,measure,location,sex,age,cause,metric,year,val,upper,lower
0,DALYs (Disability-Adjusted Life Years),Germany,Both,All Ages,Substance use disorders,Number,2017,534503.461686,627709.604981,450902.080820
1,DALYs (Disability-Adjusted Life Years),Germany,Both,All Ages,Substance use disorders,Percent,2017,0.020812,0.022813,0.018868
2,DALYs (Disability-Adjusted Life Years),Germany,Both,All Ages,Substance use disorders,Rate,2017,641.703004,753.602490,541.334604
3,DALYs (Disability-Adjusted Life Years),Philippines,Both,All Ages,Substance use disorders,Number,2017,318847.469612,398528.861283,246911.446153
4,DALYs (Disability-Adjusted Life Years),Philippines,Both,All Ages,Substance use disorders,Percent,2017,0.009787,0.011767,0.007995
...,...,...,...,...,...,...,...,...,...,...
16111,DALYs (Disability-Adjusted Life Years),Bhutan,Both,All Ages,Idiopathic developmental intellectual disability,Percent,2017,0.001505,0.002584,0.000649
16112,DALYs (Disability-Adjusted Life Years),Bhutan,Both,All Ages,Idiopathic developmental intellectual disability,Rate,2017,36.715702,66.055813,15.066077
16113,DALYs (Disability-Adjusted Life Years),Bhutan,Both,All Ages,Other mental disorders,Number,2017,1383.756102,1937.315093,904.142413
16114,DALYs (Disability-Adjusted Life Years),Bhutan,Both,All Ages,Other mental disorders,Percent,2017,0.005941,0.007987,0.004169
16115,DALYs (Disability-Adjusted Life Years),Bhutan,Both,All Ages,Other mental disorders,Rate,2017,144.531156,202.349525,94.436258

In [7]:
#depression_indicators=pd.read_csv("data_resources/2020IndicatorsofDepression.csv")
#depression_indicators.head()

,Indicator,Group,State,Subgroup,Week,Week Label,Value,Low CI,High CI,Confidence Interval,Quartile range
0,Symptoms of Depressive Disorder,National Estimate,United States,United States,1,Apr 23 - May 5,23.5,22.7,24.3,22.7 - 24.3,NaN
1,Symptoms of Depressive Disorder,By Age,United States,18 - 29 years,1,Apr 23 - May 5,32.7,30.2,35.2,30.2 - 35.2,NaN
2,Symptoms of Depressive Disorder,By Age,United States,30 - 39 years,1,Apr 23 - May 5,25.7,24.1,27.3,24.1 - 27.3,NaN
3,Symptoms of Depressive Disorder,By Age,United States,40 - 49 years,1,Apr 23 - May 5,24.8,23.3,26.2,23.3 - 26.2,NaN
4,Symptoms of Depressive Disorder,By Age,United States,50 - 59 years,1,Apr 23 - May 5,23.2,21.5,25.0,21.5 - 25.0,NaN